root/anaconda.cfg
#version=RHEL8
# Use graphical install
graphical

%packages
@^minimal-environment
kexec-tools
%end

# Keyboard layouts
keyboard --xlayouts='fr (oss)'
# System language
lang fr_FR.UTF-8

# Network information
network --bootproto=static --ip=192.168.140.191 --netmask=255.255.255.0 --gateway=192.168.140.1 --hostname=hades-canyon.primp-industries.com --nameserver=192.168.30.1

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=sda
autopart
# Partition clearing information
clearpart --none --initlabel

# System timezone
timezone America/New_York --isUtc

# Root password
rootpw --iscrypted $6$2CICS1Fr5Ue22mVn$4Q7CL6s5.dAt9anEhuWO8QI0JfNz0/zdgWsme2iMJ2TTmWHoWOWfLUUNcb4Y0tbU3tYtlBjm/x5jYAN2mEaai1

# Creating user
user --name=steamish_mlg --password=$6$sjebJt6O3UoGXGsk$q0Mom39DXUUgqMh1vnjaZew/wCpQge1PHTYb0hs1.sSRp0z8XpDNoay7Ah6QjTb2ZE1RmTKMBrOwwdWErMjTs0 --iscrypted --gecos="steamish_mlg"

%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
